@media (min-width: 768px) {
    .branding-settings-card > .card-header {
        border-color: #0f2f5f;
        background: #0f2f5f;
        color: #fff;
        border-top-left-radius: var(--tblr-card-border-radius);
        border-top-right-radius: var(--tblr-card-border-radius);
    }

    .branding-settings-card > .card-header .card-title {
        color: #fff;
    }
}


.branding-settings-card .branding-dropzone .logo-dropzone-icon {
    margin-bottom: .6rem;
    font-size: 3.25rem;
}

