.table-sort-button {
    padding: 0;
    border: 0;
    color: inherit;
    font: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 400;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
}

.table-sort-button:hover {
    color: var(--tblr-primary);
}
